    <div class="outer-container">
      <div fxLayout="row" fxLayoutGap="20px" class="container">
        <div fxLayoutAlign="center">
          <img class="img-fluid center-block" src="{{rImage}}{{productDetails.image}}" alt="Image here" (click)="detailPage()" style="width: 200px;height: 200px;">
        </div> 
        <div fxLayout="column">
          <p style=" font-family: sans-serif; color: rgb(10, 9, 9);"> {{ productDetails.productName }} </p>
          <br/>
          <p style="color: rgb(80, 153, 8); font-size: x-large; font-weight: 20px;">₹{{productDetails.unitPrice}}</p>
        </div>
    </div>






<!--
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span class="md-title">{{ productDetails.productName }}</span>
        </mat-card-title>
      </mat-card-header>
      <a >
      <img class="img-fluid" src="{{rImage}}{{productDetails.image}}" alt="Image here" style="width: 100px;height: 100px;">
      </a> 
      <mat-card-title>
        <mat-card-subtitle>
          <span style="font-weight: bold;">Color: {{ productDetails.color }}</span><span style="margin-left:10px"></span>
          <span style="font-weight: bold;">Price: {{ productDetails.unitPrice }} </span><span style="margin-left:10px"></span>
          
        </mat-card-subtitle>
      </mat-card-title>
    </mat-card>   -->